/* general  */
:root {
  --grey: rgb(94, 94, 94);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: light;
  font-size: small;
  font-family: "Poppins", sans-serif;
}
/* body start  */
.principal {
  padding: 0 4%;
  display: block;
}

/* navigation bar */

nav,
.A {
  display: block;
  display: flex;
  justify-content: space-between;
}
.navshadow {
  height: 130px;
}
nav {
  background-color: white;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  width: 92%;
  padding: 50px 0;
}
.heading,
.list-heading {
  display: inline-block;
  color: #ff5500;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
}
.heading img,
.search img,
.card-details img,
.list-heading img,
#list-search img {
  width: 20px;
}
#filter {
  width: 25%;
  display: flex;
  border: 1px grey solid;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: var(--grey);
  cursor: default;
  z-index: 2;
}
#filter div {
  width: 33%;
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.places,
.guests {
  border-right: 1px grey solid;
  padding: auto;
}

/* filter after animation  */
#anime {
  height: 0;
  overflow: hidden;
  padding: 50px;
  background-color: white;
  position: fixed;
  width: 100%;
  padding: 0;
}
.list-heading {
  margin-bottom: 30px;
}
.lists {
  display: flex;
  justify-content: space-around;
}
#list-places,
#list-guests {
  display: inline-block;
}
:is(#list-guests, #list-places) ul {
  list-style: none;
}
:is(#list-guests, #list-places) ul li {
  padding: 10px;
  width: 300px;
}
:is(#list-guests, #list-places) ul li:hover {
  border: 1px black solid;
  border-radius: 10px;
}
:is(#list-guests, #list-places) ul li:first-child {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
}
#list-guests {
  opacity: 0.5;
}
#list-search {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5500;
  color: white;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
}
#list-search:hover {
  color: #ff5500;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* keyframe filter  */
@keyframes filter {
  0% {
    height: 0;
    z-index: 1;
    padding: 0;
  }
  100% {
    height: 360px;
    z-index: 3;
    padding: 50px;
  }
}
@keyframes rev-filter {
  0% {
    height: 50%;
    z-index: 3;
  }
  100% {
    height: 0;
    z-index: 1;
  }
}

/* main  */

main,
#anime {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.A {
  margin-bottom: 15px;
}
.A div:first-child {
  font-size: large;
  font-weight: 700;
}
.A div:last-child {
  color: rgb(94, 94, 94);
  font-weight: 700;
}
.B {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  display: inline-block;
  width: 450px;
  margin: 10px 0;
}
.card-image {
  border: 1px white solid;
  border-radius: 20px;
  overflow: hidden;
}
.card-image img {
  height: 244px;
  width: 100%;
}
.card-details {
  display: flex;
  justify-content: space-between;
}
.card-details span:first-child {
  color: var(--grey);
}
footer {
  display: block;
  margin: 60px 0 30px 0;
  text-align: center;
  color: var(--grey);
}
.card {
  border: 1px solid transparent;
  overflow: hidden;
}
/* keyframe card  */
@keyframes whoosh {
  0% {
    /* width: 386.4px;
    height: 244px;
    position: relative; */
    display: inline-block;
  }
  100% {
    /* width: 0;
    height: 0;
    position: relative; */
    display: none;
  }
  /* 100% {
    /* width: 800px;
    height: 1000px;
    position: absolute; */
}
@media (width < 1000px) {
  .navshadow {
    height: 130px;
  }
  nav {
    padding: 10px 0;
  }
  .heading {
    font-size: medium;
  }
  #filter {
    margin: 20px;
    width: 60%;
  }
  #filter div {
    height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .B {
    justify-content: center;
  }
  #anime {
    display: none;
  }
}
